#window {
    background-color: transparent;

    #main {
        background-color: #141414;
        border-radius: 10px;

        #wgt_winBar {
            #title {
                color: rgba(255, 255, 255, 0.85);
                font-size: 14px;
            }
        }

        #list {
            background-color: #1D1D1D;
            border: 1px solid rgb(48, 48, 48);
            margin: 0 10px 10px;

            QScrollBar:vertical {
                width: 0px;
            }

            QScrollBar:horizontal {
                height: 0px;
            }
        }
    }

    #wgt_winBar {
        QToolButton {
            background-color: #141414;
            border: none;
            width: 22px;
            height: 22px;
        }
    }
}

QListWidget::item {
    background-color: #1D1D1D;

    #u_avatar {
        min-width: 40px;
        max-width: 57px;
        border-radius: 20px;
    }

    #u_name {
        color: #D7D7D7;
        font-size: 14px;
    }

    #u_email {
        color: #ADADAD;
        font-size: 12px;
    }

    &::hover {
        background-color: #2F2F2F;
    }

    &::selected {
        background-color: #383838;
    }
}

#CustomDialog {
    background-color: #141414;
    border-radius: 10px;
    min-width: 420px;
    min-height: 200px;

    QLabel {
        color: #D7D7D7;
    }

    #horLayout {
        margin-top: 20px;
    }

    #avatar {
        background-color: #383838;
        width: 110px;
        height: 110px;
        min-width: 110px;
        min-height: 110px;
        max-width: 110px;
        max-height: 110px;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 10px;
    }

    QLineEdit {
        width: 200px;
        height: 26px;
        margin-right: 20px;
    }

    #btn_ok {
        width: 80px;
        min-height: 24px;
        margin-top: 12px;
        margin-bottom: 10px;
    }

    #btn_cancel {
        width: 80px;
        min-height: 24px;
        margin-right: 20px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
}
